.authorized-primary-header {
  position: relative;

  .logo {
    font-size: 18pt;
    color: #777;
    position: absolute;
    top: 0.7rem;
    left: 1rem;

    img {
      height: 1.1em;
      display: inline-block;
      margin-right: 0.5em;
    }
    > * {
      vertical-align: middle;
    }

    &.logo-light {
      color: #fff;
    }
  }

  .primary-nav {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    // min-width: 10em;

    > * {
      vertical-align: middle;
    }

    .logout {
      color: #fff;
      margin-right: 1em;
    }

    .avatar {
      border-radius: 50%;
      width: 2em;
      height: 2em;
      background-color: rgba(0, 0, 0, 0.2);
      display: inline-block;
    }
  }
}
