.card {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 0.5em;
  padding: 1em;
  min-height: 3em;
}

.animated-cards {
  position: relative;

  > * {
    position: absolute;
    width: 100%;
  }
}

.animated-card {
  &-exit {
    opacity: 1;
    transition: all 0.6s;
  }
  &-exit-active {
    opacity: 0;
    transform: translateY(3em);
  }

  &-enter {
    opacity: 0;
    transition: all 0.6s;
    transform: translateY(-1em);
  }
  &-enter-active {
    opacity: 1;
    transform: translateY(0);
  }
}
