.card {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 0.5em;
  padding: 1em;
  min-height: 3em;
}

// .card {
//   position: absolute;
//   background-color: red;
// }

// .page-transition {
//   &-enter {
//     opacity: 0;
//     transform: translateX(-10em);
//     transition: all 1s;
//   }
//   &-enter-active {
//     opacity: 1;
//     transform: translateX(0);
//   }

//   &-exit {
//     opacity: 1;
//     transform: translateX(10em);
//     transition: all 1s;
//   }
//   &-exit-active {
//     opacity: 0;
//     transform: translateX(0);
//   }
// }
