.app {
  min-height: 100vh;
}

.app.authorized-layout {
  background-color: $light-gray;
}

.app.unauthorized-layout {
  background-image: url('/static/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6em;
}
